services:
  - type: web
    name: it-service-app
    env: node
    plan: free
    buildCommand: |
      npm install --legacy-peer-deps
      npm run build
      cd backend
      npm install
    startCommand: "cd backend && node server.js"
    envVars:
      - key: NODE_ENV
        value: production
      - fromGroup: it-service-db-credentials # Group for DB_HOST, DB_USER, etc. on Render